aws-lambda-typing==2.12.0
boto3==1.23.6
boto3-stubs==1.23.6
botocore==1.26.6
botocore-stubs==1.26.6
chardet==4.0.0
jmespath==1.0.0
lxml==4.8.0
mypy-boto3-lambda==1.23.0.post1
mypy-boto3-s3==1.23.0.post1
Pillow==9.1.1
PyPDF2==1.28.2
python-dateutil==2.8.2
python-magic==0.4.26
s3transfer==0.5.2
six==1.16.0
types-chardet==4.0.4
types-lxml==2022.4.10
typing_extensions==4.2.0
urllib3==1.26.9
